*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    /* background-color: #cfc8c880; */
}
header{
    /* max-width: 100%; */
  display: flex;
  align-items: center; 
  margin: 25px 70px 10px 70px;
  justify-content: space-between;
}
.logo{
    filter: invert(1);
}
.header_left img{
    height: 55px;
    /* background-position: center; */
}
.header_mid ul{
    display: flex;
    gap: 40px;
    position: relative;
    right: 13rem;
}
.header_mid ul li{
    list-style: none;
}
.header_mid ul li a{
    text-decoration: none;
    color: black;
    font-size: 17px;
   
}
.header_right button{
    padding: 10px 15px;
    background-color: #54099fe6;
    border: none;
    color: white;
    font-weight: 600;
    border-radius: 7px;
    cursor: pointer;
}
section{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 70px;
}
/* .section_left{} */
.heading{
    font-size: 60px;
    font-weight: 700;
    line-height: 9vh;
    margin-bottom: 20px;
}
.section_left p{
    font-size: 18px;
    margin-bottom: 45px;
}
.section_right img{
    display: inline;
    height: 500px;
}
.section_left button{
    font-size: 14px;
    font-weight: 700;
    color: #ffffff;
    background-color: #54099fe6;
    border: none;
    border-radius: 7px;
    padding: 11px 17px;
    cursor: pointer;
}


